.container-deposit {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    width: 600px; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */
    position: absolute;
    top: 250px; /* Add top margin to move the container down */
    left: 50%; /* Center the container horizontally */
    transform: translateX(-50%); /* Adjust for the container's width */
    margin-left: 100px;
    overflow: auto; /* Hide any overflow beyond the container */
  }