/* StudentDashboard.css */
.student-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-main {
  display: flex;
  flex: 1;
}

.side-sidebar {
  width: 250px; /* Adjust width as needed */
  background-color: #f4f4f4; /* Adjust background color as needed */
}

.sidebar-cards {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
  /* Add styles for the main content area */
}

.welcome-text {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;

}

.welcome-text h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.welcome-text p {
  margin: 5px 0 0;
  color: #666;
}